.newsCard{
    &:hover {
        background: #212529 !important;
        color: white !important;
        transition: all 300ms ease-in-out;
        cursor: pointer;
    }
}
.sourceBTN{
    &:hover{
        color: white;
        background: blue !important;
    }
}